/* CSS Custom Properties Definitions */

@import url("https://use.typekit.net/xut0mbq.css");


.main-heading a {
  color: black;
  text-decoration: none;
  font-family: kepler-std, serif;
  font-size: 3.5rem;
  line-height: 0.9rem;
}

.slogan {
  font-size: 0.8rem;
}

.card-title a {
  color: black;
  text-decoration: none;
  font-family: kepler-std, serif;
  font-size: 2rem;
}

.card-text {
  color: black;
  text-decoration: none;
  font-family: kepler-std, serif;
}

.black-button {
  color: white;
  border: 0;
  border-radius: 0;
  background-color: black;
  text-decoration: none;
  font-family: kepler-std, serif;
}

footer {
  font-family: kepler-std, serif;
}

.post-title {
  font-family: kepler-std, serif;
  font-size: 3rem;
  font-weight: 700;
}

.post-body {
  font-family: kepler-std, serif;
  font-size: 1.2rem;
}